body {
  /* background-color: green !important; */
}

#together-cool {
  background-color: rgb(233 245 234);
}


#what-we-do {
  color: #fff;
}

#what-we-do:hover {
  color: #000;
  background-color: #fff ;
  border-color: #fff ;
  transform: scale(1.4, 1.4);
  transition: all 1s ease-out;
}

#again-color {
  background-color: #e8f5ea;
}

#color-picture {
  background-color: #18c35a ;
}

#menu {
  background-color: #18c35a;
}

.color {
  color: grey;
}

.hr-hoverable {
  cursor: pointer;
}

.hr-hoverable:hover hr {
  color: #f70;
}
